.contact {
	font-family: 'K2D', sans-serif;
  font-size: calc(.8em + 1vmin); 
	text-align: left;
	width: 100%;
}

.tex-link-f {
	color: #FFFFFF;
	width: 100%;
}

.icon-footer {
	height: 3rem;
	margin-top: .4em;
}

.devicon-footer {
	font-size: 2.3rem;
	margin-top: .4em;
}

.footer-mail {
	font-size: 1.1rem;

}