.contact {
	font-family: 'K2D', sans-serif;
  font-size: calc(.8em + 1vmin); 
	text-align: left;
	width: 100%;
}

.tex-link-f {
	color: #FFFFFF;
	width: 100%;
}

.icon-footer {
	height: 2rem;
	margin: .5em;
}

.devicon-footer {
	font-size: 2rem;
	margin: .4em;
}

.devicon-footer-t {
	margin: .5em;
}