.contact {
	font-family: 'K2D', sans-serif;
  font-size: calc(.8em + 1vmin); 
	text-align: left;
  width: 100%;
	margin-top: 10em;

}
.black {
	background-color: #0C0C0B !important;
}

.tex-link-f {
	color: #FFFFFF;
	width: 100%;
}

.icon-footer {
	height: 2rem;
	margin: .5em;
}

.devicon-footer {
	font-size: 2rem;
	margin: .2em;
}

.devicon-footer-t {
	margin: .5em;
}

@media screen and (max-width: 966px){
  .contact {
    margin-top: 12em;
  }
}