@import url('https://fonts.googleapis.com/css?family=K2D');
.text-nav {
	font-family: 'K2D', sans-serif;
	font-size: 2em;
	font-weight: bold;
	/* text-shadow: 1px 4px 1px rgba(71, 19, 19, 0.904); */
}