.projects {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 50vh;
}
.title-project{
	color: #ffffff;
	text-align: center;
	font-size: 2em;
	margin-top: 3em;
}

.card{
	height: 350px;
	color: #ffffff;
	/* color: black; */
}

.title-projects{
	font-size: 1.9em;
	margin-bottom: 1em;
	color: #ffffff;
}

.c-click-text {
	color: #ffffff !important;
	font-size: .7rem;
	font-style: oblique;
}
.c-title {
	font-size: 1.5em;
	font-weight: bold;
	margin: .5rem;
}

.tec {
	font-weight: bold;
}

.reve-card {
	font-size: 1.2em;
	background-color: rgb(58, 57, 55) !important;
}


@media screen and (max-width: 420px) {
	.projects{
		margin-top: 1em !important;
		height: 150% !important;
	}
}

@media screen and (min-width: 421px) and (max-width: 600px) {
	.projects {
		margin-top: 1em;
		height: 80vh;
	}

	.c-title {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 991px){
	.projects{
		height: 105% !important;
		
	}
	.card {
		height: 445px;
		/* width: 105%; */
	}
} 
