.projects {
	font-family: 'Montserrat', sans-serif;
	margin-top: 1em;
	width: 100%;
}

.card{
	height: 50vh;
	color: black;
}

.title-projects{
	font-size: 1.9em;
	margin-bottom: 1em;
	color: #ffffff;
}

.c-click-text {
	color: #ffffff !important;
	font-size: .7rem;
	font-style: oblique;
}
.c-title {
	font-size: 1rem;
	font-weight: bold;
	margin: .5rem;
}

@media screen and (max-width: 600px) {
	.title-projects{
		margin-top: 2em;
	}
	.projects {
		margin-top: 1em;
		height: 100%;
	}
	.card {
		/* height: 40vh; */
	}
	.c-title {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 966px){
	.projects{
		margin-top: 5em;
	}
	.card {
		height: 53vh;
	}
} 

/* @media screen and (max-height: 500px) and (max-width: 700px){
	.title-projects{
		margin-top: 13em !important;
	}
	.projects{
		margin-top: 5em !important;
		font-size: 1.5em;
	}
	.card {
		height: 90vh;
	}
	.card-title {
		font-size: .8em !important;
	}
} */