.aboutme {
	color: #FFFFFF;
	margin-top: 5em;
	width: 100;
}

.text-body {
	font-family: 'Montserrat', sans-serif;
	font-size: calc(1em + 1vmin); 
	text-align: justify;
}


.photo-mir {
	height: 50vh;
	margin-top: 1.5em;
	border-radius: 3em;
	box-shadow: 10px 10px 5px 3px rgb(7, 7, 6, 0.671);
}

.mir-about {
	text-align: left;
}

.shadow {
	box-shadow: 1px -.5px 3px .5px rgb(7, 7, 6, 0.671);
}


@media screen and (max-width: 774px) {
	.text-body {
		font-size: calc(.9em + 1vmin);
	}
	.photo-mir {
		display: flex;
		height: 35vh;
	}
}
