@import url('https://fonts.googleapis.com/css?family=K2D|Montserrat');

body {
  background-color: rgb(34, 34, 32);
  background-position: cover;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

